[Unit]
Description=Payment Service
After=network-online.target

[Service]
User=roboshop
WorkingDirectory=/app
Environment=CART_HOST=cart.daws92s.store
Environment=CART_PORT=8080
Environment=USER_HOST=user.daws92s.store
Environment=USER_PORT=8080
Environment=AMQP_HOST=rabbitmq.daws92s.store
Environment=AMQP_USER=roboshop
Environment=AMQP_PASS=roboshop123
ExecStart=/app/.venv/bin/gunicorn --config gunicorn.conf.py --no-control-socket payment:app
SyslogIdentifier=payment
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
