[Unit]
Description=Shipping Service
After=network-online.target

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart.daws92s.store:8080
Environment=DB_HOST=mysql.daws92s.store
Environment=DB_USER=shipping
Environment=DB_PASSWORD=RoboShop@1
ExecStart=/bin/java -jar /app/shipping.jar
SyslogIdentifier=shipping
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
